.formBody{
    text-align: center;
    padding-top: 10px;
    padding-bottom:260px;
    border-style: groove gray;
    border-radius: 10px;
    -webkit-box-shadow: 33px 17px 33px 8px rgba(83,86,87,1);
    -moz-box-shadow: 33px 17px 33px 8px rgba(83,86,87,1);
    box-shadow: 33px 17px 33px 8px rgba(83,86,87,1);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: linear-gradient(146.83821052502776deg, rgba(52, 9, 171,1) 0.18336776859504123%,rgba(52, 9, 171,1) 1.4353047520661153%,rgba(48, 194, 219,1) 49.18775826446281%,rgba(48, 194, 219,1) 86.03047520661156%)
}

