.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right
}

.NavBar li {
  display: inline-block;
}

.NavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;
  margin-top: 10px
}

.NavBar li a:hover {
  color: red
}
