.SocialMedia {
    margin-bottom: 20px
}

.SocialMedia h3 {
    margin-left: 10px;
    text-align: left;
    color: #eaeaea
}

.SocialMedia ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.SocialMedia li a {
    margin-left: 10px;
    color: #e9e9e9;
    text-decoration: none;
}

.SocialMedia img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: 10px
}

.SocialMedia ul li {
    display: inline;
    
}