.card {
    width: 400px;
    transition: 500ms;
    
}

.media {
    height: 300px;
}

.content {
    /* background: #404040; */
    background: #D6D5DA;
}

.card:hover {
    box-shadow: -15px 15px 30px 0px #A4D5DA;
    /* rgba(0,50,200,0.75); */
}

.buttonContainer {
    /* background: #404040; */
    background: #D6D5DA;
    justify-content: center
}